<?xml version="1.0" encoding="UTF-8"?>
<QtHelpProject version="1.0">
 <namespace>ca.compsci.openturing.1.0</namespace>
 <virtualFolder>doc</virtualFolder>
 <customFilter name="All Pages">
     <filterAttribute>turingdocs</filterAttribute>
 </customFilter>
 <filterSection>
     <filterAttribute>turingdocs</filterAttribute>
     <filterAttribute>1.0</filterAttribute>
     <toc>
         <section title="Turing Help" ref="intro.html">
            <% pages.zip(titles).each do |page| %>
            <% unless page[1].empty? %>
             <section title="<%= page[1] %>" ref="<%= page[0] %>.html"/>
            <% end %>
            <% end %>
         </section>
     </toc>
     <keywords>
        <% pages.each do |page| %>
         <keyword name="<%= page %>" ref="<%= page %>.html"/>
        <% end %>
     </keywords>
     <files>
         <file>*.gif</file>
         <file>*.html</file>
     </files>
 </filterSection>
</QtHelpProject>